<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Bienvenido a Open Libra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
      <ion-card-content>
        Disponemos de un ligero servicio web con el que es 
        posible acceder de forma remota a la mayoría de los datos de su catálogo bibliográfico.
      </ion-card-content>
  </ion-card>
    <ion-button color="danger" expand="block" routerLink="/home">Entrar a la Biblioteca</ion-button>
</ion-content>
